<%- include("./partials/header") %>
<section class="section" id="contact">
   <div class="container" id="contact-form">
      <div class="row mb-4">
         <div class="col-md-8 col-lg-6">
            <!-- Heading -->
            <h2 class="section-title mb-2 ">
               Contact Us
            </h2>
            <!-- Subheading -->
            <p class="mb-5 ">
               Use the form below to drop us an email
            </p>
            <% if(msg.length > 0) { %>
            <div class="alert alert-success">
               <%= msg %>
            </div>
            <% } %>
         </div>
      </div>
      <!-- / .row -->
      <div class="wrapper animated bounceInLeft">
         <div class="company-info">
            <h3>Johnson Tiling Ltd</h3>
            <ul>
               <li><i class="fa fa-road"></i> Dinsdale Hamilton</li>
               <li><i class="fa fa-phone"></i> 021 0248 0362</li>
               <li><i class="fa fa-envelope"></i> johnsontilingltd@hotmail.com</li>
            </ul>
         </div>
         <div class="contact">
            <h3>Contact Us</h3>
            <form method="POST" action="contact">
               <p>
                  <label>Name
                  <span class="text-danger">*</span></label>
                  <input type="text" name="name">
               </p>
               <p>
                  <label>Email Address
                  <span class="text-danger">*</span></label>
                  <input type="email" name="email">
               </p>
               <p>
                  <label>Subject
                  <span class="text-danger">*</span></label>
                  <input type="text" name="subject">
               </p>
               <p>
                  <label>Phone Number
                  <span class="text-danger">*</span></label>
                  <input type="text" name="phone">
               </p>
               <p class="full">
                  <label>Message
                  <span class="text-danger">*</span></label>
                  <textarea name="message" rows="5"></textarea>
               </p>
               <div class="">
                  <input name="submit" type="submit" class="btn btn-primary btn-circled" value="Send Message">
                  <p class="small pt-3">We'll be in touch.</p>
               </div>
            </form>
         </div>
      </div>
   </div>
</section>
<%- include("./partials/footer") %>